vars {
  demo-mob-dev: https://<YOUR_ENVIRONMENT_URL>
  wfmPath: workForceManagement/v1/notification/
  simPath: serviceInstallationManagement/v1/notification/
  tmfOrderPath: tmf-api/productOrderingManagement/v4/productOrder
  tmfServicePath: tmf-api/serviceOrderingManagement/v1/notification/
  nfoServiceOrderHref: https://serviceordermanager.externalsystem.com/serviceordermanagement/serviceorder/56
  orderId: 
  externalId: 
  workOrderIdCpe: 
  workOrderIdMe: 
  taskId: 
  customerId: 
  customerSAN: 
  customerCAN: 
  customerName: 
  customerSurname: 
  customerEmail: 
  customerMobile: 
  customerSecondaryMobile: 
  ftthSAI: 
  feasibilityId: 
  odbId: 
  cpeIntegrationId: 
  cpeSerialNumber: 
  cpeMacAddress: 
  meshExtender1: 
  meshExtender2: 
  meshExtender3: 
  dawiyatInstallationId: 
  itcInstallationId: 
  stcInstallationId: 
  acesInstallationId: 
  acesServiceAccNum: 
  acesCpeIntegrationId: 
  acesCpeSerialNumber: 
  customerCategory: Regular
  networkCategory: FTTH Consumer
  appointmentId: 
  slotId: 
  serviceOrderId: 
  svActionId: 
  eventDate: 
  eventTime: 
  stcSqId: 
  username: <YOUR_USERNAME>
  password: <YOUR_PASSWORD>
  clientsecret: <YOUR_CLIENT_SECRET>
}
